
body,html {
  background: #333;
  color: #fff;
}

table {
	color:#333;
	min-width: 100%;
}

tbody {
	font-size: .85rem;
}

/* TYPE DESIGN */

.row.pad-bottom {
  margin-bottom:2em;
}

a {
  color: #ABD6E4;
}

a:hover {
  color: #87B0BD;
}

h1.headertext {
  text-indent: -5000px;
  display: none;
}

h3, h4, .button, .menu a, table thead th {
  font-family: "league-gothic", sans-serif;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: normal;
  line-height: 1em;
}

table thead th {
	font-size: 1.3rem;
}

th {
	text-align: left;
}

@media screen and (max-width: 39.9375em) {
  h3 {
    font-size: 1.7rem;
  }
}

h2 {
  text-indent: -5000px;
  background-repeat: no-repeat;
  padding-top: 15%;
  margin-top: 7%;
}

p, ul, h5, tbody {
  font-family: "droid-serif", georgia, serif;
}

h2#date {
  background-image: url('../img/headings/rail-date.svg');
  background-size: 102% auto;
  margin-top:0;
  padding:0;
}

@media screen and (max-width: 39.9375em) {
  h2#date {
    padding: 6% 0;
  }
}

#newsletter {
  padding: 2rem 1.5625rem;
}

#newsletter h2 {
  background-image: url('../img/headings/rail-header-newsletter.svg');
  background-size: 93% auto;
  position:relative;
  left:-25%;
  margin-top:0;
}

@media screen and (max-width: 39.9375em) {
  #newsletter h2 {
    background-size: 80% auto;
    left: -28%;
    padding-top: 19%;
  }
}

#newsletter.highlight input.email {
  box-shadow: 0 0 5px rgba(204, 37, 40, 1);
  border: 1px solid rgba(204, 37, 40, 1);
  transition: all 0.1s ease-in-out;
}

#newsletter.highlight h2 {
  background-image: url('../img/headings/rail-header-newsletter-red.svg');
}

h2 {
	background-position: 50%;
    position: relative;
}

h2#home-heading {
	padding-top:5%;
}

h2#eventinfo {
  background-image: url('../img/headings/header-eventinformation.svg');
  background-size: 40% auto;
  top: -2.5rem;
}

h2#music {
  background-image: url('../img/headings/header-vintagejazzmusic.svg');
  background-size: 40% auto;
  top: -2.5rem;
}

h2#instructors {
  background-image: url('../img/headings/header-worldclassinstructors.svg');
  background-size: 50% auto;
  top: -2.5rem;
}

h2#venues {
  background-image: url('../img/headings/header-chicagovenues.svg');
  background-size: 37% auto;
  top: -2.5rem;
}

h2#schedule {
  background-image: url('../img/headings/header-scheduleofevents.svg');
  background-size: 40% auto;
  top: -2.5rem;
}

h2#registration {
  background-image: url('../img/headings/header-ticketsandregistration.svg');
  background-size: 46% auto;
  top: -2.5rem;
}

h2#staff {
  background-image: url('../img/headings/header-eventstaff.svg');
  background-size: 46% auto;
  top: -2.5rem;
}

h2#policies {
  background-image: url('../img/headings/header-policies.svg');
  background-size: 46% auto;
  top: -2.5rem;
}

h2#fridayschedule, h2#saturdayschedule, h2#sundayschedule, h2#dancelocations, h2#classlocations, h2#conduct, h2#privacy, h2#safety {
	background-size: 40% auto;
	margin:auto;
	width:100%;
}

h2#fridayschedule {
	background-image: url('../img/headings/header-fridayschedule.svg');
}
h2#saturdayschedule {
	background-image: url('../img/headings/header-saturdayschedule.svg');
}
h2#sundayschedule {
	background-image: url('../img/headings/header-sundayschedule.svg');
}

h2#dancelocations {
	background-image: url('../img/headings/header-dancelocations.svg');
}

h2#classlocations {
	background-image: url('../img/headings/header-classlocations.svg');
}

h2#conduct {
	background-image: url('../img/headings/header-conduct.svg');
}

h2#safety {
	background-image: url('../img/headings/header-safety.svg');
}

h2#privacy {
	background-image: url('../img/headings/header-privacy.svg');
}

.scrollToTop {
  position: fixed;
  bottom: 0em;
  right: 1em;
  z-index: 500;
}

@media screen and (max-width: 39.9375em) {
  h2 {
    padding-top: 21%;
    margin-top: 16%;
    background-position: 50%;
    position: relative;
  }
  h2#home-heading {
	padding-top:40%;
}
  h2#eventinfo {
    background-size: 70% auto;
    top: -1rem;
  }
  h2#music {
    background-size: 70% auto;
    top: -1rem;
  }
  h2#instructors {
    background-size: 88% auto;
    top: -1rem;
  }
  h2#venues {
    background-size: 65% auto;
    top: -1rem;
  }
  h2#schedule {
    background-size: 70% auto;
    top: -1rem;
  }
  h2#registration {
    background-size: 78% auto;
    top: -1rem;
  }
  h2#staff {
    background-size: 78% auto;
    top: -1rem;
  }
  h2#policies {
    background-size: 78% auto;
    top: -1rem;
  }
  h2#fridayschedule, h2#saturdayschedule, h2#sundayschedule, h2#dancelocations, h2#classlocations, h2#conduct, h2#privacy {
	background-size: 80% auto;
	margin-bottom:1rem;
  }
}

.row.inner {
  padding:0 4em;
}

@media screen and (max-width: 39.9375em) {
  .row.inner {
    padding:0 1em;
  }
}

#main {
  max-width: 100%;
  min-height: 100vh;
}

#rail {
  color:#333;
  z-index: 999;
  -webkit-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    5px 0px 20px 0px rgba(0, 0, 0, 1);
  box-shadow:         5px 0px 20px 0px rgba(0, 0, 0, 1);
  background: #fff;
  padding:0;
}

.menu a {
  color: #333;
}

.logo, ul.menu {
  padding:2rem 1.5625rem;
}

ul.menu {
  padding: 0 1.5625rem;
  flex-direction:column;
}

ul.menu a {
  padding: .5rem 1rem;
  font-size: 1.3em;
}

ul.menu a:hover {
	color: #91BAC8;
}

#content {
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top:17%;
}

@supports (-moz-transform: translate(0, 0)) {
  #content {
    display: table;
  }
}

#content img {
	width:100%;
}

@media screen and (max-width: 39.9375em) {
  #content {
    padding-top:13% !important;
  }
}

.callout {
  background: #CC2528;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(117, 18, 18, 1);
  -moz-box-shadow:    5px 5px 0px 0px rgba(117, 18, 18, 1);
  box-shadow:         5px 5px 0px 0px rgba(117, 18, 18, 1);
  margin-bottom: 2em;
}

.callout h3 {
  margin-bottom:0;
  font-size: 2.3em;
  line-height: 1em;
}

.button {
  background: #CC2528;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(117, 18, 18, 1);
  -moz-box-shadow:    5px 5px 0px 0px rgba(117, 18, 18, 1);
  box-shadow:         5px 5px 0px 0px rgba(117, 18, 18, 1);
  padding: .7em 2em;
  font-size: 1.3em;
}

.register {
	text-align: center;
	margin:6rem 3rem 0 3rem;
}

.registration {
	display: inline-block;
	padding:1rem 1.5rem;
	background: white;
	color: #fff;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(145, 186, 200, 1);
	-moz-box-shadow:    5px 5px 0px 0px rgba(145, 186, 200, 1);
	box-shadow:         5px 5px 0px 0px rgba(145, 186, 200, 1);
	margin-bottom: 2em;
}

.registration h3, .registration p {
	color: #333;
	
}

.registration p {
	color: #333;
	margin: 1em 0;
}

.footer {
  background: rgba(0, 0, 0, 0.32);
  padding-top: 2em;
  padding-bottom: 2em;
}
